<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDG2dgMQlwyl2K3CqMAx8NEEo-fQZ0bArc</string>
	<key>GCM_SENDER_ID</key>
	<string>890086834526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hoeunlee228.unifest-ios</string>
	<key>PROJECT_ID</key>
	<string>unifest-589b1</string>
	<key>STORAGE_BUCKET</key>
	<string>unifest-589b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890086834526:ios:6a8f96c9474efe076b8fcf</string>
</dict>
</plist>